/* ------------------------------------------- FOOTER DESIGN -------------------------------------------- */

.footer{
  width: 80vw;
  min-height: 40vh;
  margin: 5vh 10vw;
  padding-top: 3%;
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  place-content: center;
}

.f-1{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  place-content: center;
  color: white;
}

.f-1-1{
  display: grid;
  grid-template-areas: 
  'one two'
  'three four';
  place-content: center;
  gap: 0.5rem;
}

.f-1-1-1:nth-child(1){
  grid-area: one;
}
.f-1-1-1:nth-child(2){
  grid-area: two;
}
.f-1-1-1:nth-child(3){
  grid-area: three;
}
.f-1-1-1:nth-child(4){
  grid-area: four;
}

.f-1-1-1:hover{
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.42);
  scale: 1.05;
}

.f-1-2{
  display: grid;
  justify-content: center;
}

.f-1-3{
  display: grid;
  justify-content: center;
}

.f-1-2 h2{
  font-size: 1.3rem;
}

.f-1-2 h2:hover{
  color: #fd7e22;
}

.f-1-2 h4{
  font-size: 1rem;
}

.f-1-3 h2{
  font-size: 1.3rem;
}

.f-1-3 h2:hover{
  color: #fd7e22;
}

.f-1-3 h4{
  font-size: 1rem;
}

.f-2{
  display: flex;
  color: white;
  place-content: center;
}

.f-2 h2{
  font-size: 1.2rem;
}

.f-2 h2:hover{
  box-shadow: 0px 0px 20px #fd7d22d9;
  background-color: #fd7d2291;
  color: black;
  border-radius: 20px;
}

@media (min-width:500px){
  .f-1-2 h2{
    font-size: 2rem;
  }
  
  .f-1-2 h4{
    font-size: 1.4rem;
  }
  
  .f-1-3 h2{
    font-size: 2rem;
  }
  
  .f-1-3 h4{
    font-size: 1.4rem;
  }

  .f-2 h2{
    font-size: 2rem;
  }
}

@media (min-width:768px){
  .footer{
    row-gap: 3rem;
  }
  .f-1{
    flex-direction: row;
  }
  
  .f-1-2 h2{
    font-size: 2.5rem;
  }
  
  .f-1-2 h4{
    font-size: 1.8rem;
  }
  
  .f-1-3 h2{
    font-size: 2.5rem;
  }
  
  .f-1-3 h4{
    font-size: 1.8rem;
  }

  .f-2 h2{
    font-size: 3rem;
  }
}

@media (min-width:1440px){
  .f-1{
    gap: 5rem;
  }

  .f-1-1{
    gap: 1rem;
  }

  .f-1-2 h2{
    font-size: 3rem;
  }
  
  .f-1-2 h4{
    font-size: 2.2rem;
  }
  
  .f-1-3 h2{
    font-size: 3rem;
  }
  
  .f-1-3 h4{
    font-size: 2.2rem;
  }

  .f-2 h2{
    font-size: 5rem;
  }
}


  
/* ------------------------------------------- GO - UP BUTTON -------------------------------------------- */

.go-up-button{
  display: grid;
  width: 80vw;
  margin: 5vh 10vw;
  justify-items: center;
}

.go-up-button a:hover{
  animation: up-button 1s infinite;
}

@keyframes up-button{
  0%{scale: 1;}
  50%{scale: 1.05;}
  100%{scale: 1;}
}